extends layout

block content
  .container-fluid.border-bottom.box-shadow
    .row.align-items-center
      .col-6
        h5 Analyze SoundCloud Users and their Tracks
      .col-4
        form.form-inline.mt-2.mt-md-0
          input.form-control.mr-sm-2(name="user" type="text" placeholder="username")
          button.btn.btn-outline-warning.my-2.mr-2(type="submit") Find User
          button.btn.btn-outline-warning.my-2.mr-2(type="submit" name="download" style="display:none") Download User Data
      .col-2
        button.btn.btn-outline-warning.ml-4(id="choose-sheet") Choose Worksheet

  
